@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin:0;
	padding:0
}
footer, header, hgroup, menu, nav, section {
	display:block
}
img {
	border:0
}

h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal
}

::selection {
	color:#e00966;
}
::-moz-selection {
color:#e00966;
}
body {
	font-family:"Open Sans", sans-serif;
	font-size:13px;
	line-height:22px;
	color:#444444;
	padding:0;
}
a, a:link {
	color:#e00966;
	text-decoration:none;
}
a:hover {
	color:#000;
}
h1, h2, h3, h4, h5, h6, p {
	margin-bottom:10px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:300;
}
h1 {
	font-size:30px;
	line-height:1.7em;
}
h2 {
	line-height:1.3em;
}
h3 {
	font-size:22px;
	line-height:1.3em;
}
img {
	max-width:100%;
}
.more {
	background:url("../images/arrow.gif") no-repeat right 50%;
	padding-right:20px;
}
#main-content, footer {
	margin:0 auto;
	max-width:950px;
}
header {
	margin-top:0;
	width:100%;
	height:45px;
	margin-bottom:40px;
	background:#1D1D1D;
	position:fixed;
	z-index:999;
}
header .main-nav {
	margin-top:10px;
	float:right;
}
header .main-nav li {
	display:inline-block;
	margin-right:40px;
	list-style:none;
}
header .main-nav li a {
	color:#FFF;
	font-size:10px;
	text-transform:uppercase;
	font-weight:600;
	letter-spacing:2px;
}
header .main-nav li a:hover, header .main-nav {
	color:#666;
}
#main-content .text-intro {
	border-bottom:1px solid #e5e4e4;
	float:left;
	width:100%;
	padding:25px 0;
	margin-bottom:40px;
}
#main-content .text-intro h2 {
	font-size:20px;
	color:#606060;
	text-align:center;
}
div.columns {
	height:1%;
}

footer {
	clear:both;
	border-top:1px solid #e5e4e4;
	padding:20px 0;
}
footer .copyright {
	float:left;
	margin-bottom:30px;
}
footer .copyright a {
	color:#444444;
	font-weight:bold;
}
footer .copyright a:hover {
	color:#e00966;
}
#home-head {
	content:"";
	display:block;
	min-height:200px;
	width:100%;
	text-align:center;
	box-shadow:inset 0 -1px 5px rgba(0,0,0,0.6);
}
#home-head h1 {
	font-size:34px;
	color:#fff;
	line-height:0.879em;
	text-shadow:0 1px 2px rgba(0,0,0,0.4);
	text-transform:uppercase;
	padding-top:100px;
}
#home-head h1 span {
	color:#fff;
	display:block;
}
#video {
	content:"";
	display:block;
	min-height:300px;
	width:100%;
	text-align:center;
	box-shadow:inset 0 -1px 5px rgba(0,0,0,0.6);
}
#video h1 {
	font-size:40px;
	color:#fff;
	line-height:0.879em;
	text-shadow:0 1px 2px rgba(0,0,0,0.4);
	text-transform:uppercase;
	padding-bottom:20px;
	padding-top:120px;
}
#video h2 {
	font-size:13px;
	color:#FFF;
	line-height:1em;
	letter-spacing:2px;
	text-transform:uppercase;
}



.home{
	background:url("../images/hda_banner.jpg");
	background-size:cover;
}
@media handheld and (max-width:480px), screen and (max-device-width:480px), screen and (max-width:767px) {
body {
	padding:0;
}
}
@media handheld and (max-width:479px), screen and (max-device-width:479px), screen and (max-width:479px) {
#contact-form .text-input {
	float:left;
}
header {
	border-bottom:none;
	position:relative;
}
#home-head {
	min-height:250px;
}
header .main-nav {
	width:100%;
	margin-left:0;
}
header .main-nav ul {
	width:100%;
}
header .main-nav ul li, header .main-nav ul>li.last {
	display:block;
	float:none;
	text-align:center;
	width:100%;
}
header .main-nav ul li a {
	padding:4px 0;
	background:#e4e4e4;
	display:block;
	margin-bottom:4px;
}
div.columns {
	width:100%;
}
div.one-half, div.one-third, div.two-third, div.three-fourth, div.one-fourth {
	margin-left:0;
	width:100%;
}
div.one-third, div.one-fourth, .copyright {
	width:95%;
	float:none;
	padding:0 0 0 10px;
}
.copyright {
	text-align:center;
}
#main-content .text-intro h2 {
	font-size:30px;
}
}


.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    background-color: transparent;
}

.contact {
    flex: 1;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contact h3 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.4;
}

.contact p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.6;
}

.contact:hover {
    border: 1px solid black;
}


.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.project {
    flex: 1;
    max-width: 30%;
    min-width: 250px;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project:hover {
    border: 2px solid black;
}

.project img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
    border-radius: 5px;
}

#skills {
	padding-left: 10%;
	font-size: 120%;
	
} 