.content-container {
    display: flex;
    justify-content: left;
    width: 100%;
    flex-wrap: wrap;
    --background-color: #18181B;
    --text-color: #A1A1AA;
    --card-background-color: rgba(255, 255, 255, .015);
    --card-border-color: rgba(255, 255, 255, 0.1);
    --card-box-shadow-1: rgba(0, 0, 0, 0.05);
    --card-box-shadow-1-y: 3px;
    --card-box-shadow-1-blur: 6px;
    --card-box-shadow-2: rgba(0, 0, 0, 0.1);
    --card-box-shadow-2-y: 8px;
    --card-box-shadow-2-blur: 15px;
    --card-label-color: #FFFFFF;
    --card-icon-color: #D4D4D8;
    --card-icon-background-color: rgba(255, 255, 255, 0.08);
    --card-icon-border-color: rgba(255, 255, 255, 0.12);
    --card-shine-opacity: .1;
    --card-shine-gradient: conic-gradient(from 205deg at 50% 50%, rgba(16, 185, 129, 0) 0deg, #10B981 25deg, rgba(52, 211, 153, 0.18) 295deg, rgba(16, 185, 129, 0) 360deg);
    --card-line-color: #2A2B2C;
    --card-tile-color: rgba(16, 185, 129, 0.05);
    --card-hover-border-color: rgba(255, 255, 255, 0.2);
    --card-hover-box-shadow-1: rgba(0, 0, 0, 0.04);
    --card-hover-box-shadow-1-y: 5px;
    --card-hover-box-shadow-1-blur: 10px;
    --card-hover-box-shadow-2: rgba(0, 0, 0, 0.3);
    --card-hover-box-shadow-2-y: 15px;
    --card-hover-box-shadow-2-blur: 25px;
    --card-hover-icon-color: #34D399;
    --card-hover-icon-background-color: rgba(52, 211, 153, 0.1);
    --card-hover-icon-border-color: rgba(52, 211, 153, 0.2);
}

.newspaper-box {
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,
            100%, 0.075),
        /* shadow ring 👇 */
        0 0 0 1px hsla(0, 0%, 0%, 0.05),
        /* multiple soft shadows 👇 */
        0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
        0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
        0 3.5px 6px hsla(0, 0%, 0%, 0.09);
    padding: 10px;
    margin: 10px;
    align-items: left;
    gap: 5px;
    width: 30%;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 700;
    font-style: bold;
    overflow: hidden;
    position: relative;
}

.newspaper-box a {
    text-decoration: none;
    color: white;
}

.newspaper-box a:hover {
    text-decoration: underline;
}

.topic-text {
    color: white;
    font-size: 0.8em;
    font-weight: 350;
    font-style: bold;
    font-family: 'Playfair Display', serif;
    font-size: medium;
    margin-top: 5px;
}

.topic-text:hover {
    text-decoration: underline;
    color: rgb(241, 187, 9);
}

.newspaper-box a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: rgba(0, 0, 0, 0.1);
    z-index: -1;
    opacity: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s, left 0.5s;
}

.newspaper-box a:hover:before {
    content: attr(data-text);
    opacity: 0.5;
    left: 50%;
    letter-spacing: 10px;
    width: 100%;
    height: 100%;

}

.newspaper-box a:before {
    background: #ffeaa7;
}

.newspaper-title {
    font-family: 'Playfair Display', serif;
    font-size: large;
}

swiper-container {
    max-height: 100vw;
    min-height: 0;
    min-width: 0;
    max-width: 90vw;
    width: auto;
    height: auto;
    overflow: hidden;
}

swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.newspaper-slide {
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,
            100%, 0.075),
        /* shadow ring 👇 */
        0 0 0 1px hsla(0, 0%, 0%, 0.05),
        /* multiple soft shadows 👇 */
        0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
        0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
        0 3.5px 6px hsla(0, 0%, 0%, 0.09);
    padding: 10px;
    margin: 10px;
    gap: 5px;
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: auto;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 700;
    font-style: bold;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newspaper-slide a {
    text-decoration: none;
    color: white;
}

.first-image-slide {
    max-width: 70%;
    max-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-image-slide img {
    max-width: 50%;
    max-height: 50%;
    object-fit: cover;
    /* Ensure images cover the full area */
    border: 1px solid white;
}