.content-container {
    display: flex;
    justify-content: left;
    width: 100%;
    flex-wrap: wrap;
}

.newspaper-box {
    border: 2px solid white;
    padding: 10px;
    margin: 10px;
    align-items: left;
    gap: 5px;
    width: 30%;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 700;
    font-style: bold;

    /*color animation hoovering*/
    overflow: hidden;
    position: relative;
}

.newspaper-box a {
    text-decoration: none;
    color: white;
}

.newspaper-box a:hover {
    text-decoration: underline;
}


.topic-text {
    color: white;
    font-size: 0.8em;
    font-weight: 350;
    font-style: bold;
    font-family: 'Playfair Display', serif;
}

.newspaper-box a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: rgba(0, 0, 0, 0.1);
    z-index: -1;
    opacity: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s, left 0.5s;
}

.newspaper-box a:hover:before {
    content: attr(data-text);
    opacity: 0.5;
    left: 50%;
    letter-spacing: 10px;
    width: 100%;
    height: 100%;
}

.newspaper-box a:before {
    background: #ffeaa7;
}




.newspaper-title {
    font-family: 'Playfair Display', serif;
    font-size: large;
}

swiper-container {
    max-height: 100vw;
    min-height: 0;
    min-width: 0;
    max-width: 90vw;
    width: auto;
    height: auto;
    overflow: hidden;
}

swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

