* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom right, cyan, violet);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;

}

header {
    background-color: linear-gradient(45deg, red, yellow 50%, green);
    text-align: center;
    padding: 1.5rem 0;
}

header h1 {
    color: black;
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: center;
    background-color: transparent;
}

nav a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 1rem;
    border: 1px solid black;
    margin: 5px;
}

nav a:hover {
    background-color: #555;
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.project {
    flex: 1;
    max-width: 30%;
    min-width: 250px;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project:hover {
    border: 2px solid black;
}

.project img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
    border-radius: 5px;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 1rem 0;
    color: white;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    background-color: transparent;
}

.contact {
    flex: 1;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contact h3 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.4;
}

.contact p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.6;
}

.contact:hover {
    border: 1px solid black;
}
